<div class="container">

<h1>Now Playing</h1>
<p>(Sorted by MetaScore)</p>

<% @in_theaters.each do |movie| %>

<%= image_tag movie.thumbnail %>

<h2><%= link_to movie.title, imdb_url(movie), target: :blank %></h2>
<br>
Year:
<%= movie.year %>
<br>
Director:
<%= movie.director %>
<br>
MetaScore: 
<%= metascore(movie) %>
<br> 
IMDB Rating
<%= imdb_rating(movie) %>
<br>
<%= movie.description %>

<div class="clearfix"></div>

<% end %>	

</div>